:root {
  --white: #efeeed;
  --tertiary: #a7a0cb;
  --primary: #6473ae;
  --secondary: #563d75;
  --black: #262547;
}

body {
  background: var(--white);
  color: var(--black);
}

a {
  color: var(--primary);
}

.main {
  width: 65%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  gap: 1em;
  padding: 0.5em;
}

hr {
  width: 100%;
}

.head {
  text-align: center;
}

.intro {
  margin: auto;
  width: 50%;
}

.contact-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}

.contact-panel a {
  display: inline;
  vertical-align: middle;
}

.gh-ico {
  height: 1.5em;
}

.tech {
  width: 100%;
}

.tech-card {
  width: 20%;
}

.tech-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.port {
  width: 100%;
}

.port-table {
  display: flex;
  flex-direction: column;
}

.port-card {
  display: flex;
  flex-direction: row;
}

.port-desc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
  width: 50%;
}

.port-title {
  font-size: larger;
  font-weight: bold;
}

.port-tech > ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
  list-style: none;
  padding-left: 1em;
}

.port-tech > ul > li {
  border: 0.1em solid var(--primary);
  border-radius: 0.7em;
  padding: 0.3em;
  background-color: var(--tertiary);
}

.port-img {
  width: 50%;
  height: 100%;
}

.port-img-container {
  display: flex;
  height: 25em;
  justify-content: center;
  align-items: center;
  overflow: clip;
}

.port-img-container > img {
  width: 100%;
}

.spacer {
  height: 5em;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: smaller;
}

.invis-tiny {
  display: inline-block;
  width: 2px;
  height: 1em;
}
